@page "/teacher"
@inject NavigationManager Navigation
@rendermode InteractiveServer

<link href="css/teacher.css" rel="stylesheet" />

<div class="teacher-container">
    <div class="teacher-card">
        <h3 class="text-center mb-4" style="color: white;">Teacher Dashboard</h3>

        <div class="button-group">
            <button class="btn btn-primary" @onclick="() => NavigateToPage(myClassesRoute)">My Classes</button>
            <button class="btn btn-secondary" @onclick="() => NavigateToPage(assignmentsRoute)">Assignments</button>
            <button class="btn btn-success" @onclick="() => NavigateToPage(gradesRoute)">Grades</button>
        </div>
    </div>
</div>

@code {

    private string myClassesRoute = "/my-classes";
	private string assignmentsRoute = "/assignments";
	private string gradesRoute = "/grades";
    private void NavigateToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
}
