CatalogueApp/.vs/CatalogueApp/CopilotIndices/17.13.430.18484/CodeChunks.db
CatalogueApp/.vs/CatalogueApp/CopilotIndices/17.13.430.18484/CodeChunks.db
CatalogueApp/.vs/CatalogueApp/CopilotIndices/17.13.430.18484/SemanticSymbols.db
CatalogueApp/.vs/CatalogueApp/DesignTimeBuild/.dtbcache.v2
CatalogueApp/.vs/CatalogueApp/FileContentIndex/36690cee-df61-4c94-beec-d354a3860b76.vsidx
CatalogueApp/.vs/CatalogueApp/FileContentIndex/a5b19bb1-bd04-485f-9855-b8294493a57a.vsidx
CatalogueApp/.vs/CatalogueApp/FileContentIndex/36690cee-df61-4c94-beec-d354a3860b76.vsidx
CatalogueApp/.vs/CatalogueApp/FileContentIndex/a5b19bb1-bd04-485f-9855-b8294493a57a.vsidx
